html,body{
  width: 100%;
  height: 100%;
}

ul{
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
/* 用户表格 */
.table.table-bordered th,
.table.table-bordered td
{
  text-align: center;
  vertical-align: middle;
  
}

.box{
  margin-top: 150px;
}
.panel-title{
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/* 左侧菜单栏 */
.lt-aside{
  width: 180px;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  background: #222D32;
  z-index: 999;
  transition: all 1s;
}
.lt-aside .brand{
  height: 50px;
  width: 100%;
  font-size: 25px;
  line-height: 50px;
  background: #367FA9;
}
.lt-aside .brand a{
  color: #fff;
}
.lt-aside .user{
  height: 180px;
  padding-top: 30px;
  color: #fff;
}
.lt-aside .user img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lt-aside .user p{
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.lt-aside .nav ul{
  padding-left: 0px;
}
.lt-aside .nav li a{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-left: 3px solid transparent;
}
.lt-aside .nav li a i{
  padding-right: 5px;
}
.lt-aside .nav .child a{
  display: block;
}
/* 高亮 */
.lt-aside .nav .active{
  background: #1D1F21;
  border-left: 3px solid #006699;
}
/* 右侧主页面 */
.lt-main{
  height: 1000px;
  width: 100%;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.lt-topbar{
  height: 50px;
  background: #3C8DBC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 180px;
  transition: all 1s;
}
.lt-topbar a{
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
}
/* 隐藏右侧类名 */
.lt-aside.current{
  left: -180px;
}
.lt-main .lt-topbar.current
{
  padding-left: 0;
}
.lt-main.current{
  padding-left: 0;
}
/* 面包屑导航条 */
.lt-main .container{
  background: #fff;
  height: 100%;
}
.ltm-tab{
  background: #F5F5F5;
  width: 100%;
  height: 36px;
  margin-top: 20px;
  padding: 8px 16px;
}
.lt-main .mt_20{
  margin-top: 20px;
}
/* 统计图 */
.echarts-left,.echarts-right{
  width: 48%;
  height: 400px;
}

/* 模态框 */
.modal .modal-body p{
  color: #A94442;
}

